<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/audit/internal-nlog.txt"
     >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>







  <targets>
    <!-- application log -->
    <target xsi:type="File"
        name="file"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/audit/${level}.txt"
        archiveFileName="${basedir}/audit/log/${level}.{#}.log"
        archiveNumbering="Date"
        archiveAboveSize="1024"
        archiveDateFormat="yyyyMMdd"
        archiveEvery="Day"
        maxArchiveFiles="7"
      />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
        name="ownFile-web"
        fileName="${basedir}/audit/nlog-own-${shortdate}.log"
        />
  </targets>









  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />


    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>


</nlog>